@CHARSET "UTF-8";
/* header */

header{
	width: 1200px;
	/* position: fixed; */
	background-color: white;
	margin: 0 auto;
}

.headerWrap{
	display:-webkit-flex; 
	display:flex;
	width: 1200px;
	margin: 0 auto;
	position: relative;
	color:black;
	height:70px;
	line-height: 70px;
}
.hLogo{
	font-size: 25px; color: #FF8C00; font-weight: 700; 
	width: 200px;
}
.hLogo:HOVER{
	color: #fd5200;
}
.searchbox{
  width: 600px;
}

.hRight{
	position: absolute;
	right: 0; top:0;
	display:-webkit-flex; /* 웹키트 전용 접두사 */
	display:flex;
	justify-content:flex-end;
	width: 400px;
	height: 70px;  
}
.hClassOpen{
	width: 50%;
	box-sizing : boder-box;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
}
.hClassOpen:HOVER{
	background-color: #FFA500;
	border-radius: 10px;
}
.hLogin{
	width: 20%;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
}
.hJoin{
	width: 20%;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
}
.hMemberInfo{
	width: 40%;
	text-align: center;
}
.hMemberInfoTitle{
	font-size: 15px;
	font-weight: 600;
}
.hMemberInfoTitle:HOVER{
	background-color: #FFA500;
	border-radius: 10px;
}
.dropDownMInfo{
	text-align: left;
	background-color: #f9f9f9;
	border-radius: 10px;
	visibility: hidden;
	width: 100%;
}
.dropDownMInfo li{
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	padding-left: 10px;
	cursor: pointer;
}
.dropDownMInfo li:hover{
	background-color: #FFA500;
	font-weight: 600;
}
.hMemberInfo:hover .dropDownMInfo {
	visibility: visible;
}
.hOffLineClass{
	height: 50px; 
	line-height: 50px;
	font-weight: 600;
	margin-left: 30px;
}

/* footer */
footer{
	height: 150px;    
	width: 100%;
}
.footerWrap{
	width: 1200px;
	margin: 0 auto;
	display:-webkit-flex; 
	display:flex;
}
.fLogo{
	width: 25%;
}
.fLogo>pre{
	font-size: 35px; font-weight: 800;
	height: 80px; line-height: 80px; letter-spacing: 0.5px;	
}
.fLogo>p{
	color: gray;
}
.fInfo{
	width: 50%;
	display:-webkit-flex; 
	display:flex;
	justify-content:space-around;
	padding-top: 20px;
}
.fInfoList{
	font-size: 15px;
}
.fInfoList:HOVER{
	font-weight: 600;
}
.fCustomerCenter{
	width: 25%;
	padding-left: 20px;
	display:-webkit-flex; 
	display:flex;
	flex-direction: column;
}
.fCenterTitle{
	font-size: 18px;
	height: 40px;line-height:40px;
	margin-top: 10px;
}
.fCenterQues{
	box-sizing: border-box;
	border: 1px solid grey;
	height: 40px; line-height:40px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
}
.fCenterQues:HOVER{
	font-weight: 600;
}
.fCenterTime{
	height: 50px; 
	padding-top: 10px;
}