<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mocaclass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- ClassFrontController -->
	<servlet>
		<servlet-name>ClassFrontController</servlet-name>
		<servlet-class>classes.action.ClassFrontController</servlet-class>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>ClassFrontController</servlet-name>
		<url-pattern>*.cl</url-pattern>
	</servlet-mapping>
	
	<!-- partUploadPro1PopupServlet -->
  <servlet>
  	<servlet-name>partUploadPro1PopupServlet</servlet-name>
  	<servlet-class>test.part.partUploadPro1PopupServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>partUploadPro1PopupServlet</servlet-name>
  	<url-pattern>/partUploadPro1Popup</url-pattern>
  </servlet-mapping>
  
  <!-- partUploadPro1Servlet -->
  <servlet>
  	<servlet-name>partUploadPro1Servlet</servlet-name>
  	<servlet-class>test.part.partUploadPro1Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>partUploadPro1Servlet</servlet-name>
  	<url-pattern>/partUploadPro1</url-pattern>
  </servlet-mapping>
  
	

</web-app>